{% extends 'base.html' %}

{% load static %}

{% block title %}Flight-Detail{% endblock title %}

{% block content %}

    <h1>Flights Detail</h1>

    <div class="row">
        <div class="card" style="width: 18rem;">
        <img src="{% static 'images/airline1.jpeg' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5>{{ flight.id }}</h5>
            <h5 class="card-title">{{ flight.operating_airlines }}</h5>
            <h5 class="card-title">{{ flight.flight_number }}</h5>
            <h5>{{ flight.departure_city }}</h5>
            <h5>{{ flight.arrival_city  }}</h5>
            <h5>{{ flight.date_of_departure}}</h5>
            <h5>{{ flight.departure_city }}</h5>
            <h5>{{ flight.estimated_time_of_departure }}</h5>
            <a href="#" class="btn btn-primary">Delete</a>
            <a href="#" class="btn btn-primary">Update</a>
        </div>
        </div>
    </div>

{% endblock content %}