{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

    <div class="container">
        <div class="row mt-5">
            <button id="add-flight-get" class="btn btn-primary mb-5">Add Flight</button>
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Flight Number</th>
                    <th scope="col">Airline</th>
                    <th scope="col">Departure City</th>
                    <th scope="col">Arrival City</th>
                    <th scope="col">Date of Departure</th>
                    <th scope="col">Estimated Time of Departure</th>
                    <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody id="tb-wrapper">
                </tbody>
            </table>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script>
        $.ajax({
            url: 'http://localhost:8000/flightservices/flights/',
            success: function(response){
                let flight_html = ``;
                response.forEach(flight => {
                    flight_html += `
                        <tr>
                            <th scope="row">${ flight.id }</th>
                            <td>${ flight.flight_number}</td>
                            <td>${ flight.operating_airlines }</td>
                            <td>${ flight.departure_city }</td>
                            <td>${ flight.arrival_city }</td>
                            <td>${ flight.date_of_departure }</td>
                            <td>${ flight.estimated_time_of_departure }</td>
                            <td>
                                <a href="#" class="data-view" data-id="${flight.id}">View</a>
                                <a href="#" class="edit-flight" data-id="${flight.id}">Edit</a>
                                <a href="#" class="delete-flight" data-id="${flight.id}">Delete</a>
                            </td>
                        </tr>
                    `;
                });

                $('#tb-wrapper').html(flight_html);
            },
            error: function(err) {
                console.log(err)
            }
        })

        $(document).on('click', '.data-view', function(e) {
            e.preventDefault()
            let flight_id = $(this).attr('data-id')
            $.ajax({
                url: 'http://localhost:8000/flightservices/flights/'+ flight_id,
                success: function(flight){
                    let detail_html = `
                        <h1>Flights Detail</h1>

                        <div class="row">
                            <div class="card" style="width: 18rem;">
                            <img src="{% static 'images/airline1.jpeg' %}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5>${flight.id}</h5>
                                <h5 class="card-title">${flight.operating_airlines}</h5>
                                <h5 class="card-title">${flight.flight_number}</h5>
                                <h5>${flight.departure_city}</h5>
                                <h5>${flight.arrival_city}</h5>
                                <h5>${flight.date_of_departure}</h5>
                                <h5>${flight.departure_city}</h5>
                                <h5>${ flight.estimated_time_of_departure}</h5>
                                <a href="#" class="btn btn-primary">Delete</a>
                                <a href="#" class="btn btn-primary">Update</a>
                            </div>
                            </div>
                        </div>
                    `;

                    $('.container').html(detail_html);
                },
                error: function(err) {
                    console.log('Something wrong happen')
                }
        })

        })


        $(document).off('click', '.edit-flight').on('click', '.edit-flight', function(e) {
            e.preventDefault()
            let flight_id = $(this).attr('data-id')
            $.ajax({
                url: 'http://localhost:8000/flightservices/flights/'+ flight_id + '/',
                success: function(flight){
                    let detail_html = `
                        <h1>Update Flights Detail</h1>
                        <form id="update-form">
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Flight Number</label>
                                    <input type="text" name="flight_number" value="${flight.flight_number}" class="form-control" id="inputEmail4">
                                </div>

                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Airline</label>
                                    <input type="text" name="operating_airlines" value="${flight.operating_airlines}" class="form-control" id="inputEmail4">
                                </div>

                            </div>


                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Departure City</label>
                                    <input type="text" name="departure_city" value="${flight.departure_city}" class="form-control" id="inputEmail4">
                                </div>

                            </div>

                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Arrival City</label>
                                    <input type="text" name="arrival_city" value="${flight.arrival_city}" class="form-control" id="inputEmail4">
                                </div>

                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Date of Departure</label>
                                    <input type="date" name="date_of_departure" value="${flight.date_of_departure}" class="form-control" id="inputEmail4">
                                </div>

                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Estimated time of departure</label>
                                    <input type="time" name="estimated_time_of_departure" value="${flight.estimated_time_of_departure}" class="form-control" id="inputEmail4">
                                </div>

                            </div>

                            <button type="submit" id="update-flight" data-id="${flight.id}" class="btn btn-primary">Update</button>
                        </form>
                    `;

                    $('.container').html(detail_html);
                },
                error: function(err) {
                    console.log('Something wrong happen')
                }
            });
        });


        function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');


        $(document).off('click', '#update-flight').on('click', '#update-flight', function(e) {
            e.preventDefault()
            let flight_id = $(this).attr('data-id')
            $.ajax({
                url: 'http://localhost:8000/flightservices/flights/'+flight_id+'/',
                method: 'PUT',
                headers: {'X-CSRFToken': csrftoken},
                dataType: 'json',
                data:$("#update-form").serialize(),
                success: function(response){
                    window.location = "http://localhost:8000/apicrud/flights/";
                },
                error: function(err) {
                    console.log('Something wrong happen')
                }
            });
        });




        $(document).off('click', '#add-flight-get').on('click', '#add-flight-get', function(e) {
            e.preventDefault()
            let detail_html = `
                <h1>Fill Flights Detail</h1>
                <form id="add-form">
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Flight Number</label>
                            <input type="text" name="flight_number" class="form-control" id="inputEmail4">
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Airline</label>
                            <input type="text" name="operating_airlines" class="form-control" id="inputEmail4">
                        </div>

                    </div>


                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Departure City</label>
                            <input type="text" name="departure_city" class="form-control" id="inputEmail4">
                        </div>

                    </div>

                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Arrival City</label>
                            <input type="text" name="arrival_city" class="form-control" id="inputEmail4">
                        </div>

                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Date of Departure</label>
                            <input type="date" name="date_of_departure" class="form-control" id="inputEmail4">
                        </div>

                    </div>
                    <div class="form-row">

                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Estimated time of departure</label>
                            <input type="time" name="estimated_time_of_departure"  class="form-control" id="inputEmail4">
                        </div>

                    </div>

                    <button type="submit" id="post-flight" class="btn btn-primary">Add Flight</button>
                </form>
            `;

            $('.container').html(detail_html);
        });


        $(document).off('click', '#post-flight').on('click', '#post-flight', function(e) {
            e.preventDefault()
            $.ajax({
                url: 'http://localhost:8000/flightservices/flights/',
                method: 'POST',
                headers: {'X-CSRFToken': csrftoken},
                dataType: 'json',
                data:$("#add-form").serialize(),
                success: function(response){
                    window.location = "http://localhost:8000/apicrud/flights/";
                },
                error: function(err) {
                    console.log('Something wrong happen')
                }
            });
        });


        $(document).off('click', '.delete-flight').on('click', '.delete-flight', function(e) {
            e.preventDefault() 
            let flight_id = $(this).attr('data-id')
            $.ajax({
                url: 'http://localhost:8000/flightservices/flights/'+flight_id+'/',
                method: 'DELETE',
                headers: {'X-CSRFToken': csrftoken},
                dataType: 'json',
                success: function(response){
                    alert("Flight Succesfull Deleted")
                    window.location = "http://localhost:8000/apicrud/flights/";
                },
                error: function(err) {
                    console.log('Something wrong happen')
                }
            });
        });


    </script>
</body>
</html>